body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F5FC;
}

input[type='file'] {
  display: none;
}
.upper-section {
  display: grid;
  grid-template-columns: 70% 30%;
}
#table-base,
#table-head {
  margin: 0 1rem 1rem 1rem;
  padding: 1rem;
  box-shadow: none;
}
#table-head {
  margin-bottom: -1rem;
}
#table-head {
  display: flex;
  justify-content: space-between;
}
#table-main {
  border-radius: 10px;
}
tr:nth-child(even) {
  background-color: #f4f4f4;
}
tr:nth-child(even):hover {
  transform: scale(1.01);
}
tr:nth-child(odd):hover {
  transform: scale(1.01);
}
tr:first-child:hover {
  transform: scale(1);
}

.sorting-arrows {
  font-size: 1rem;
  font-weight: 600;
  padding: 1%;
  margin-left: 2px;
}
.page-toggle {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  align-items: center;
}
.page-toggle button {
  color: black;
  background-color: inherit;
}
.page-toggle button:hover {
  color: black;
  background-color: #f4f4f4;
}
.pagination {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 1rem;
  padding: 1rem;
}
.pagination .page-toggle {
  display: flex;
  margin-left: auto;
}
.page-toggle Button {
  size: 4rem;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-collapse: collapse;
}
.menu-btn {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
.table-head {
  display: flex;
  align-content: center;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#table-headings {
  background-color: #726a95;
  color: #f4f4f4;
  font-weight: 600;
}
/*Search Bar*/

.search {
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #726a95;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
}

.searchTerm:focus {
  color: black;
}

.table-details {
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 50%;
}
